body {
    margin: 0;
    padding: 0;
    display: flex;

    --right-padding: 40px;
}

/* Style of left side */
#hero-set {
    position: relative;
    /* text-align: center; */
    color: white;
    height: 100vh;
}

#hero-image {
    height: inherit;
}

#logo {
    height: inherit;
}

#logo-text {
    font-size: 90px;
    font-family: Norse;
    padding-left: 5px;
    padding-top: 20px;
}

#credit {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#credit > a {
    color: white;
}

#logo-set {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30%;
    height: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Style of right side */
.description {
    padding-left: var(--right-padding);
    padding-right: 50px;
    font-size: 23px;
    font-weight: 500;
}

#form-set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(248, 249, 250);
    height: 100vh;
}

#form-header {
    font-size: 23px;
    font-weight: 500;
}

#form-inputs {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: var(--right-padding);
    margin-top: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.input {
    height: 28px;
    width: 250px;
    margin-bottom: 25px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
    background-color: rgb(255, 253, 253);
}

.input:focus {
    outline: 1px solid blue;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

label {
    font-size: 13px;
    margin-bottom: 3px;
}

.container {
    display: flex;
    flex-direction: column;
}

#btn {
    width: 200px;
    height: 55px;
    background-color: #596D48;
    color: white;
    margin-left: var(--right-padding);
    margin-top: 40px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#login {
    margin-left: var(--right-padding);
    margin-top: 40px;
    font-weight: 500;
}

#login-text {
    color: #596D48;
}

#now, #know {
    font-style: italic;
}